
@font-face
{
    font-family: christmas ;
    src:  url(../fonts/MountainsofChristmas.ttf) ;
}

body {
    font-family: 'christmas', sans-serif;       
    background-color : red;
    color : whitesmoke;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-style: dashed;
    height: 400px;
}

.souhait{

    font-size: 3em;
    text-align: center;

}

.joyeux{
    font-size: 4em;
    text-align: center;
    font-weight : bold;
}



.projet
{
    display: inline-block;
     font-family :arial;
     margin: 30px;
     width : 485px;
     height :500px;
}

.prenom
{
     font-size: 3em; 
     text-align: center;
     font-weight: bold;
        background-color: #6D071A; 
    color: #B0E0E6;
}



.menu
{
   background-color: #B0E0E6; 
   text-align: center;
}

.menu ul {
    margin : 0;
    padding : 0;
}

.menu li {
    display: inline-block;
    padding: 10px;
    margin: 0px;
}

.menu a {
    padding: 10px 50px;
    color: #6D071A;
    text-decoration: none;
    font-size: 2.5em; 
    margin-bottom: :0;
}

.menu a:hover {
    background-color: whitesmoke;

}
